.header {
  padding-block: 128px 67px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__inner {
  max-width: 630px;
  width: 100%;
}

.score {
  color: rgba(40, 38, 38, 1);
  font-family: var(--font-mont);
  margin-left: 40px;
}